@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    background-color: #576574;
    color: #fff;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

header .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-items a{
    padding: 0 30px;
    font-size: 18px;
}

header .nav-items a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

header .nav-items a:hover{
    color: #1dd1a1;
}

header .btn{
    display: none;
    color: #fff;
    cursor: pointer;
}

.main{
    padding: 0 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222f3e;
    color: blanchedalmond;
}

.left{
    flex: 1;
}

.left h1{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #1dd1a1;
}

.left p{
    font-size: 1.1rem;
    padding: 20px 0;
    padding-bottom: 50px;
}

.left a{
    text-decoration: none;
    color: #fff;
    background: #1dd1a1;
    padding: 10px 30px;
    border-radius: 30px;
}

.left a .far{
    margin-left: 10px;
}

.left a:hover{
    color: #222f3e;
    transition: 0.3s ease;
}

.right{
    flex: 1;
}

.right img{
    float: right;
}



#service{
    min-height: 100vh;
    padding: 0 100px;
    background-color: #8395a7;
}

#service h1{
    font-size: 45px;
    text-align: center;
    padding: 80px 0;
    color: #222f3e;
    
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service .item{
    background: #c8d6e5;
    text-align: center;
    margin: 0 20px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 0 5px #576574;
}

.service .item:hover{
    box-shadow: 0 0 20px #576574;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.service .item h3{
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 2px;
    color: #000;
}

.service .item p{
    color: #222f3e;
}

#contact{
    width: 100%;
    min-height: 100vh;
    background: #c8d6e5;
}

#contact h1{
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    padding: 80px;
    color: #222f3e;
}
.contact{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact .email p{
    font-size: 30px;
    font-weight: bold;
    color: #ee5253;
    padding: 15px 0;
}

.contact .social_links p{
    font-size: 25px;
    text-align: center;
    padding: 30px 0;
}

.contact .social_links img{
    margin: 0 20px;
    width: 50px;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 0 0 15px #222f3e;
    cursor: pointer;
}

@media screen and (max-width:720px)
{
    header
    {
        padding: 10px 40px;
        position: fixed;
        z-index: 10000;
        color: #1dd1a1;
    }
    header .btn
    {
        display: block;
        font-size: 25px;
        margin-right: 20px;
        cursor: pointer;
        outline: none;
    }
    #menu{
        position: absolute;
        top: 50px;
        right: -100%;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #576574;
        opacity: 0.98;
        transition: right 0.5s;
        z-index: 10000;
    }
    #menu a{
        margin: 20px 0;
        font-size: 20px;
        outline: none;
        color: #fff;
    }

    #menu.active{
        right: 0px;
    }
    .main{
        padding: 80px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main .left{
        text-align: center;
    }
    .main .left h1{
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 50px;
    }

    .main .left p{
        text-align: center;
        padding: 20px 40px;
        margin-bottom: 50px;
    }

    .main .right img{
        margin-top: 50px;
        text-align: center;
        align-items: center;
    }
    #service h1{
        text-transform: uppercase;
    }

    .service{
        flex-direction: column;
    }

    .service .item{
        width: 100%;
        padding: 20px 40px;
        margin-bottom: 50px;
    }

    #contact h1{
        letter-spacing: 5px;
        padding: 80px 40px;
    }
    .contact{
        flex-direction: column;
    }

    .contact .email p{
        text-align: center;
    }

    .contact .social_links{
        margin-bottom: 50px;
    }

}